@model ContatoModel

@{
    ViewData["Title"] = "Editar Contato";
}

<div class="text-center">
  
     <h1 class="display-4">Alterar o Contato</h1>  
</div>

<form asp-controller="Contato" asp-action="Alterar" method="post">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control"  placeholder="digite contato" /> 
  </div>
  <br/>
  <div class="form-group">
    <label for="local">Local</label>
    <input type="text" class="form-control"  placeholder="digite local do contato" /> 
  </div>
  <br/>
  <div class="form-group">
    <label for="valor">Valor</label>
    <input type="text" class="form-control"  placeholder="digite o valor" /> 
  </div>
      
    <button type="submit" class="btn btn-success btn-block">Aterar</button>
    <a class="btn btn-warning btn-block" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>

  
</form>